/* Fake Google CSS */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial,sans-serif;
	font-size: 13px;
}

#container {
	width: 504px;
	margin: 140px auto 0;
	text-align: center;
}

h1#logo {
	width: 272px;
	height: 92px;
	background: url("images/google.png") top left no-repeat;
	background-size: 100%; /* take up 100% of container */
	text-indent: -9999px;
	margin: 0 auto;
}

input[type="text"] {
	width: 476px; /* not 490px because there's padding on each side */
	padding: 7px;
	margin: 30px 0 30px;
	border: solid 1px #ccc;
	font-size: 16px;
	font-family: Arial;
	height: 30px;
	background-image: url("images/speech.png");
    background-position: 454px 12px;
    background-repeat: no-repeat;
    background-size: 14px 20px;
}

input[type="text"]:hover {
	border-color: #aaa;
}

input[type="submit"] {
	background: #f5f5f5;
	color: #757575;
	padding: 10px 15px 10px;
	font-size: 12px;
	font-family: Arial, sans-serif; 
	font-weight: bold;
	margin: 0 2px;
	border: none;
}

input[type="submit"]:hover {
	cursor: pointer;
	border: solid 1px #ddd;
}

small {
	/* small is an inline element so it doesn't have a margin */
	display: block;
	margin: 10px 0 0 0;
	font-size: 12px;
}

a:link, a:visited {
	color: dodgerblue;
}


nav#header {
	padding: 20px;
}

#right {
	float: right;
}

nav ul {
	float: left;
	display: inline;
}

nav#header ul li {
	display: inline;

}

nav#header ul li a:link, 
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited {
	color: #555;
	text-decoration: none;
	padding: 10px;
}

nav#header ul li a:hover,
footer nav ul li a:visited  {
	text-decoration: underline;
}

footer {
	background: #eee;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer nav {
	padding: 12px 25px 12px;
	border-top: solid 1px #ddd;
}

footer nav ul li {
	display: inline;
}

footer nav ul {
	float: left;
}

footer nav ul.right-links {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

